<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UploadData</servlet-name>
        <servlet-class>com.action.UploadData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>com.action.SendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail1</servlet-name>
        <servlet-class>com.action.SendMail1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAction</servlet-name>
        <servlet-class>com.action.UploadAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADD</servlet-name>
        <servlet-class>com.action.ADD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_New</servlet-name>
        <servlet-class>com.action.Add_New</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gets</servlet-name>
        <servlet-class>com.action.Gets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadData</servlet-name>
        <url-pattern>/UploadData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/SendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail1</servlet-name>
        <url-pattern>/SendMail1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAction</servlet-name>
        <url-pattern>/UploadAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADD</servlet-name>
        <url-pattern>/ADD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_New</servlet-name>
        <url-pattern>/Add_New</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gets</servlet-name>
        <url-pattern>/Gets</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
